:root {
  --gird-gap: 2rem;
}

#section_happening_now {
  margin-block-start: -2.5rem;
}

#section_happening_now .article_card {
  border-radius: 0.375rem;
  margin-block-end: 2.5rem;
}

#section_happening_now .article_simple:first-of-type::before {
  content: "";
  display: block;
  height: 0;
  border-block-start: 2px solid #EBEDED;
  padding-block-start: 2.5rem;
}


/* Tablet */

@media(min-width: 768px) {
  #section_happening_now {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--gird-gap);
    column-gap: var(--gird-gap);
  }

  #section_happening_now > header {
    grid-column: span 2;
    grid-row: 1;
  }

  #section_happening_now > article:nth-of-type(1) {
    grid-column: span 2;
    grid-row: 2;
  }

  #section_happening_now > article:nth-of-type(2) {
    grid-column: span 2;
    grid-row: 3;
  }

  #section_happening_now > article:nth-of-type(3) {
    grid-column: span 1;
    grid-row: 4;
  }

  #section_happening_now > article:nth-of-type(4) {
    grid-column: span 1;
    grid-row: 4;
  }
}

/* Desktop */
@media(min-width: 1440px) {
  #section_happening_now {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--gird-gap);
    column-gap: var(--gird-gap);
    grid-template-areas:
    "header header header"
    "article_card1 article_card1 article_card3"
    "article_card1 article_card1 article_card3"
    "article_card1 article_card1 article_card4"
    "article_card2 article_card2 article_card4"
    "article_card2 article_card2 article_card5"
    "article_card2 article_card2 article_card5";
  }

  #section_happening_now > header {
    grid-area: header;
  }

  #section_happening_now > article:nth-of-type(1) {
    grid-area: article_card1;
  }

  #section_happening_now > article:nth-of-type(2) {
    grid-area: article_card2;
  }

  #section_happening_now > article:nth-of-type(3) {
    grid-area: article_card3;
  }

  #section_happening_now > article:nth-of-type(4) {
    grid-area: article_card4;
  }

  #section_happening_now > article:nth-of-type(5) {
    grid-area: article_card5;
  }

  #section_happening_now .article_card {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: calc((100vw -3rem) / 3);
  }

  #article_simple1 {
    margin-block-start: 0;
    height: calc((100vw - 3rem) / 5);
  }

  #article_simple2 {
    height: calc((100vw - 3rem) / 5);
  }

  #article_simple3 {
    display: flex;
    height: calc((100vw - 3rem) / 5);
  }

  #section_happening_now .article_card .category {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

