:root {
  --column-gap: 2rem;
}

#section_trending article {
  background-color: #fff;
}

/* Tablet */

@media(min-width: 768px) {
  #section_trending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--column-gap);
    column-gap: var(--column-gap);
  }

  #section_trending > header {
    grid-column: span 2;
    grid-row-start: 1;
  }
}


/* Desktop */

@media(min-width: 900px) {
  #section_trending {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    column-gap: 1rem;
  }

  #section_trending > header {
    grid-column: span 3;
    grid-row-start: 1;
  }
}
